.pageStyles {
  color: #232129;
  padding: 96px;
  font-family: '-apple-system, Roboto, sans-serif, serif';
}
.headingStyles{
  margin-top: 0px;
  margin-bottom: 64px;
  max-width: 320px;
}
.headingAccentStyles{
  color: #663399,
}