@import '~bootstrap/dist/css/bootstrap.min.css';
// .pageStyles {
//   color: #232129;
//   font-family: '-apple-system, Roboto, sans-serif, serif';
// }
main {
  height: 97vh;
  width: 99vw;
}
.mainElement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  // border: 2px solid black;
}
.qrData {
  flex: 8;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  .qrDataHeader {
    .tabButton {
      
    }
  }
  .qrDataContent {
  }

  
}

.qrPreview {
  flex: 4;
  // width: 700px;
  // height: 700px;
  display: flex;
  justify-Content: center;
  align-Items: center;
  border-Radius: 50px;
}


.QrCustomization{
  width: 90%;
}